html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: 
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
    url('afb/beginscherm.png') center center / cover no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-box-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: center;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  font-family: "Times New Roman", serif;
  font-size: 32px;
  margin-top: 15px;
  opacity: 0.85;
}

.result-image {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.5s ease;
}

.result-image:hover {
  transform: scale(1.1);
}

.result-title {
  font-size: 32px;
  margin: 5px 0;
}

.result-quote {
  font-size: 24px;
  line-height: 1.4;
}
