/* ---------------- BODY ---------------- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

/* ---------------- HOMEPAGE ---------------- */
.homepage {
  height: 100vh;
  width: 100vw;
  background-image: url("afb/beginscherm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 60px 40px;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  max-width: 90%;
}

.title {
  color: white;
  font-size: 64px;
  letter-spacing: 3px;
  font-family: "Cinzel", serif; /* historische look */
  margin: 20px 0 5px 0;          /* kleinere marge onder titel */
}

.start-button {
  font-family: "Cinzel", serif; /* historische look */
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: white;
  transition: all 0.3s ease;
}

.start-button:hover {
  transform: scale(1.1);
  background: #d0f0ff;
}
